@{
    ViewData["Title"] = "Home Page";
}
<div id="drop-area">
<form id="myForm">
    <div>
        <div>
            <label>Anexe um ou mais arquivos</label>
        </div>

        <div class="" style="border: 1px dashed #4444; padding: 10px;">
            <div class="wrapper" style="padding: 10px;">
                <input type="radio" name="select" id="crip" value="crip" checked>
                <label for="crip" class="option option-1">
                    <span id="type-crip">Criptografia</span>
                </label>
                <input type="radio" name="select" id="decrip" value="decrip">
                <label for="decrip" class="option option-2">
                    <span id="type-decrip">Descriptografia</span>
                </label>
            </div>

            <div class="" style="padding: 10px;">
                <label for="selectClient">Selecione um cliente</label>
                <select id="selectClient">
                    <option value="JSC">JSC</option>
                    <option value="VALID">VALID</option>
                </select>
            </div>

            <div class="" style="padding: 10px;">
                <label for="fileInput">Anexe um ou mais arquivos</label>
                <input type="file" id="fileInput" alt="file" multiple />
            </div>

            <div class="" style="padding: 10px;">
                <button type="button" class="btn btn-primary" id="btnFunction">Confirmar</button>
            </div>
        </div>
    </div>
</form>
</div>
<style>



</style>


@section JavaScripts {

    <script src="~/lib/jquery.form/jquery.form.js"></script>
    <script src="~/js/Criptografia.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.js"></script>

}

